body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
  }
  
  header {
	background-color: #0047ab;
	color: #fff;
	padding: 20px;
  }
  
  nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
  }
  
  nav li {
	display: inline-block;
  }
  
  nav a {
	color: #fff;
	display: block;
	padding: 10px;
	text-decoration: none;
  }
  
  h1 {
	font-size: 3em;
	margin: 0;
	padding: 0;
  }
  
  main {
	margin: 20px;
  }
  
  section {
	margin-bottom: 20px;
  }
  
  h2 {
	font-size: 2em;
  }
  
  ul {
	list-style: disc;
	margin-left: 20px;
  }
  
  footer {
	background-color: #0047ab;
	color: #fff;
	padding: 10px;
	text-align: center;
  }
  
  footer p {
	margin: 0;
	padding: 0;
  }
  
  a:hover {
	background-color: #fff;
	color: #0047ab;
  }
  
  @media (max-width: 768px) {
	nav ul {
	  display: none;
	}
	
	nav li {
	  display: block;
	  text-align: center;
	  margin-bottom: 10px;
	}
	
	nav a {
	  display: inline-block;
	  padding: 5px;
	  background-color: #0047ab;
	  color: #fff;
	  border-radius: 5px;
	  text-decoration: none;
	}
  }